{% extends 'base.html' %}

{% block content %}
    <h1>Невозможно удалить физическое лицо</h1>
    <p>Физическое лицо "{{ individual }}" используется:</p>
    <ul>
        {% if pass_tag_request_as_requester_list %}
        <li>заявках на чипы в качестве заявителя:
            <ul>
                {% for pass_tag_request_as_requester_list in pass_tag_request_as_requester %}
                <li>{{ pass_tag_request_as_requester }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% if pass_tag_request_as_executor_list %}
        <li>заявках на чипы в качестве исполнителя:
            <ul>
                {% for pass_tag_request_as_executor_list in pass_tag_request_as_executor %}
                <li>{{ pass_tag_request_as_executor }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% if student_list %}
        <li>в обучающихся:
            <ul>
                {% for student in student_list %}
                <li>{{ student }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
    </ul> 
    <form method="post">
        {% csrf_token %}
    </form>
    <a href="{% url 'individual_list' %}">Возврат</a>
{% endblock %}
