{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>Действия с пропускными картами</h1>
    <div id="resizable-container" data-container-id="pass_card_action-1">
        <a href="{% url 'pass_card_action_new' %}"><img class="action-icon" src="{% static 'icons/add.png' %}" alt="Создать"></a>
        <table class="catalog-items display" id="myTable" data-table-id="pass_card_action-1">
            <thead>
                <tr>
                    <th class="resizable-th">Наименование</th>
                    <th class="resizable-th">Удал.</th>
                </tr>
            </thead>
            <tbody>
                {% for pass_card_action in pass_card_action_list %}
                <tr class="{% cycle 'odd' 'even' %}" onclick="window.location.href='{% url 'pass_card_action_edit' pass_card_action.pk %}'">
                    <td class="cell-text">{{ pass_card_action.title }}</td>
                    <td class="cell-button"><a href="{% url 'pass_card_action_delete' pass_card_action.pk %}"><img class="action-icon" src="{% static 'icons/delete.png' %}" alt="Удалить"></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
