{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Система "Образование"{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Подключение CSS DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"/>
    <!-- Подключение jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Подключение JavaScript DataTables -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <!-- Подключение jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <div id="session-data" data-username="{{ username }}"></div>
    <header>
        <nav>
            <div class="navbar">
                {% if user.is_authenticated %}
                <div class="subnav">
                    <button class="subnavbtn">Основное<i class="fa fa-caret-down"></i></button>
                    <div class="subnav-content">
                        <a href="{% url 'individual_list' %}">Физические лица</a>
                        <a href="{% url 'contact_info_type_list' %}">Типы контактной информации</a>
                    </div>
                </div>
                <div class="subnav">
                    <button class="subnavbtn">Обучение<i class="fa fa-caret-down"></i></button>
                    <div class="subnav-content">
                        <a href="{% url 'student_list' %}">Обучающиеся</a>
                        <a href="{% url 'class_group_list' %}">Классы</a>
                        <a href="{% url 'class_group_enrollment_list' %}">Зачисления</a>
                    </div>
                </div>
                <div class="subnav">
                    <button class="subnavbtn">Пропускные карты<i class="fa fa-caret-down"></i></button>
                    <div class="subnav-content">
                        <a href="{% url 'pass_card_type_list' %}">Типы</a>
                        <a href="{% url 'pass_card_action_list' %}">Действия</a>
                        <a href="{% url 'pass_card_list' %}">Карты</a>
                        <a href="{% url 'pass_card_issue_list' %}">Оформления</a>
                    </div>
                </div>
                <div class="subnav">
                    <button class="subnavbtn">Транспортные карты<i class="fa fa-caret-down"></i></button>
                    <div class="subnav-content">
                        <a href="">Действия</a>
                        <a href="">Карты</a>
                        <a href="">Оформления</a>
                    </div>
                </div>
                <div class="subnav" id="user-actions">
                    <button class="subnavbtn">{{ username }}<i class="fa fa-caret-down"></i></button>
                    <div class="subnav-content">
                        <a href="{% url 'logout' %}">Выйти</a>
                    </div>
                </div>
                {% else %}
                <a href="{% url 'login' %}">Войти</a>
                {% endif %}
            </div>
        </nav>
    </header>
    
    <main>
        {% block content %}
        <h1>Система &laquo;Образование&raquo;</h1>
        {% endblock %}
    </main>
    
    <footer>
        <p><a href="mailto:iyugov@gmail.com">&copy; 2024 Югов И. О.</a></p>
    </footer>
    <script>
        $(document).ready(function() {

            $('#myTable').DataTable({
                language: {
                    "decimal":        "",
                    "emptyTable":     "Нет данных в таблице",
                    "info":           "Показаны записи _START_-_END_, всего _TOTAL_",
                    "infoEmpty":      "Показаны записи 0-0, всего 0",
                    "infoFiltered":   "(отфильтровано из _MAX_ записей)",
                    "infoPostFix":    "",
                    "thousands":      " ",
                    "lengthMenu":     "Показать _MENU_ записей",
                    "loadingRecords": "Загрузка...",
                    "processing":     "Обработка...",
                    "search":         "Поиск:",
                    "zeroRecords":    "Совпадающих записей не найдено",
                    "paginate": {
                        "first":      "Первая",
                        "last":       "Последняя",
                        "next":       "Следующая",
                        "previous":   "Предыдущая"
                    },
                    "aria": {
                        "sortAscending":  ": активировать для сортировки столбца по возрастанию",
                        "sortDescending": ": активировать для сортировки столбца по убыванию"
                    }
                }
            });

            var username = $('#session-data').data('username');

            // Получаем значение data-container-id
            var containerId = $('#resizable-container').data('container-id');

            // Функция для создания уникального ключа для контейнера с учетом имени пользователя
            function getContainerStorageKey() {
                return 'containerWidth-' + containerId + '-' + username;
            }

            // Функция сохранения ширины контейнера в localStorage
            function saveContainerWidth() {
                var containerWidth = $('#resizable-container').width();
                localStorage.setItem(getContainerStorageKey(), containerWidth);
            }

            // Функция загрузки ширины контейнера из localStorage
            function loadContainerWidth() {
                var containerWidth = localStorage.getItem(getContainerStorageKey());
                if (containerWidth) {
                    $('#resizable-container').css('width', containerWidth + 'px');
                }
            }

            // Загрузка ширины контейнера при загрузке страницы
            loadContainerWidth();

            // Сделать контейнер изменяемым
            $('#resizable-container').resizable({
                handles: 'e',
                minWidth: 100,
                stop: function(event, ui) {
                    // Сохранение ширины при изменении
                    saveContainerWidth();
                }
            });

            var tableId = $('#myTable').data('table-id');

            // Функция для создания уникального ключа для ширины столбцов таблицы
            function getTableStorageKey(colIndex) {
                return 'tableWidth-' + tableId + '-col-' + colIndex + '-' + username;
            }

            // Функция сохранения ширины столбцов таблицы в localStorage
            function saveColumnWidths() {
                $('#myTable').find('th').each(function(index) {
                    var width = $(this).outerWidth();
                    localStorage.setItem(getTableStorageKey(index), width);
                });
            }

            // Функция загрузки ширины столбцов таблицы из localStorage
            function loadColumnWidths() {
                $('#myTable').find('th').each(function(index) {
                    var width = localStorage.getItem(getTableStorageKey(index));
                    if (width) {
                        $(this).css('width', width + 'px');
                    }
                });
            }

            // Загрузка ширины столбцов таблицы при загрузке страницы
            loadColumnWidths();

            // Сделать столбцы изменяемыми
            $('#myTable').find('th').resizable({
                handles: 'e',
                minWidth: 10,
                stop: function(event, ui) {
                    // Сохранение ширины столбцов при изменении
                    saveColumnWidths();
                }
            });

        });
    </script>
</body>
</html>
