{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>Зачисления обучающихся в классы</h1>
    <a href="{% url 'class_group_enrollment_new' %}"><img class="action-icon" src="{% static 'icons/add.png' %}" alt="Создать"></a>
    <table class="catalog-items">
        <tr>
            <th>Обучающийся</th>
            <th>Класс</th>
            <th>Дата зачисления</th>
            <th>Удал.</th>
        </tr>
    {% for class_group_enrollment in class_group_enrollment_list %}
        <tr class="{% cycle 'odd' 'even' %}" onclick="window.location.href='{% url 'class_group_enrollment_edit' class_group_enrollment.pk %}'">
            <td class="cell-text">{{ class_group_enrollment.student }}</td>
            <td class="cell-label">{{ class_group_enrollment.class_group }}</td>
            <td class="cell-label">{{ class_group_enrollment.enrollment_date | date:"d.m.Y" }}</td>
            <td class="cell-button"><a href="{% url 'class_group_enrollment_delete' class_group_enrollment.pk %}"><img class="action-icon" src="{% static 'icons/delete.png' %}" alt="Удалить"></a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
