{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>Физические лица</h1>
    <a href="{% url 'individual_new' %}"><img class="action-icon" src="{% static 'icons/add.png' %}" alt="Создать"></a>
    <table class="catalog-items">
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Пол</th>
            <th>Дата рождения</th>
            <th>СНИЛС</th>
            <th>Ред.</th>
            <th>Удал.</th>
        </tr>
    {% for individual in individual_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td class="cell-text">{{ individual.last_name }}</td>
            <td class="cell-text">{{ individual.first_name }}</td>
            <td class="cell-text">{{ individual.patronymic }}</td>
            <td class="cell-label">{{ individual.gender }}</td>
            <td class="cell-date">{{ individual.birth_date | date:"d.m.Y"}}</td>
            <td class="cell-label">{{ individual.social_insurance_number }}</td>
            <td class="cell-button"><a href="{% url 'individual_edit' individual.pk %}"><img class="action-icon" src="{% static 'icons/edit.png' %}" alt="Изменить"></a></td>
            <td class="cell-button"><a href="{% url 'individual_delete' individual.pk %}"><img class="action-icon" src="{% static 'icons/delete.png' %}" alt="Удалить"></a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
