{% extends 'base.html' %}

{% block content %}
    <h1>Невозможно удалить физическое лицо</h1>
    <p>Физическое лицо "{{ individual }}" используется:</p>
    <ul>
        {% if pass_card_issue_list %}
        <li>в оформлениях:
            <ul>
                {% for pass_card_issue in pass_card_issue_list %}
                <li>{{ pass_card_issue }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% if class_group_enrollment_list %}
        <li>в зачислениях:
            <ul>
                {% for class_group_enrollment in class_group_enrollment_list %}
                <li>{{ class_group_enrollment }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
    </ul> 
    <form method="post">
        {% csrf_token %}
    </form>
    <a href="{% url 'individual_list' %}">Возврат</a>
{% endblock %}
