{% extends 'base.html' %}

{% block content %}
    <h1>Удаление невозможно</h1>
    <p>{{ object_verbose_name }} "{{ object }}" используется в других объектах.</p>
    <form method="post">
        {% csrf_token %}
        <a href="{{ back_url }}"><button type="button" class="btn btn-secondary">Возврат</button></a>
    </form>
    <p class="mt-3">Использование:</p>
    <ul class="list-group">
        {% for model, objects in dependencies.items %}
            <li class="list-group-item">{{ model }}
                <ul class="list-group">
                    {% for object_dict in objects %}
                        <li class="list-group-item">{{ object_dict.object }}
                            <ul class="list-group">
                                {% for field_name, field_value in object_dict.fields.items %}
                                    <li class="list-group-item">{{ field_name }}: {{ field_value }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>


{% endblock %}
