{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>Типы пропускных карт</h1>
    <a href="{% url 'pass_card_type_new' %}"><img class="action-icon" src="{% static 'icons/add.png' %}" alt="Создать"></a>
    <table class="catalog-items">
        <tr>
            <th>Наименование</th>
            <th>Удал.</th>
        </tr>
    {% for pass_card_type in pass_card_type_list %}
        <tr class="{% cycle 'odd' 'even' %}" onclick="window.location.href='{% url 'pass_card_type_edit' pass_card_type.pk %}'">
            <td class="cell-text">{{ pass_card_type.title }}</td>
            <td class="cell-button"><a href="{% url 'pass_card_type_delete' pass_card_type.pk %}"><img class="action-icon" src="{% static 'icons/delete.png' %}" alt="Удалить"></a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
