{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>Пропускные карты</h1>
    <a href="{% url 'pass_card_new' %}"><img class="action-icon" src="{% static 'icons/add.png' %}" alt="Создать"></a>
    <table class="catalog-items">
        <tr>
            <th>Идентификатор</th>
            <th>Тип</th>
            <th>Удал.</th>
        </tr>
    {% for pass_card in pass_card_list %}
        <tr class="{% cycle 'odd' 'even' %}" onclick="window.location.href='{% url 'pass_card_edit' pass_card.pk %}'">
            <td class="cell-label">{{ pass_card.pass_id }}</td>
            <td class="cell-text">{{ pass_card.pass_type }}</td>
            <td class="cell-button"><a href="{% url 'pass_card_delete' pass_card.pk %}"><img class="action-icon" src="{% static 'icons/delete.png' %}" alt="Удалить"></a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
