{% extends 'base.html' %}

{% block content %}
    <h1>Невозможно удалить действие с пропускными картами</h1>
    <p>Действие с пропускными картами "{{ pass_card_action }}" используется:</p>
    <ul>
        {% if pass_card_issue_list %}
        <li>в оформлениях:
            <ul>
                {% for pass_card_issue in pass_card_issue_list %}
                <li>{{ pass_card_issue }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
    </ul> 
    <form method="post">
        {% csrf_token %}
    </form>
    <a href="{% url 'pass_card_action_list' %}">Возврат</a>
{% endblock %}
