{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>Обучающиеся</h1>
    <a href="{% url 'student_new' %}"><img class="action-icon" src="{% static 'icons/add.png' %}" alt="Создать"></a>
    <table class="catalog-items">
        <tr>
            <th>Обучающийся / Физическое лицо</th>
            <th>Ред.</th>
            <th>Удал.</th>
        </tr>
    {% for student in student_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td class="cell-text">{{ student.title_with_status }}</td>
            <td class="cell-button"><a href="{% url 'student_edit' student.pk %}"><img class="action-icon" src="{% static 'icons/edit.png' %}" alt="Изменить"></a></td>
            <td class="cell-button"><a href="{% url 'student_delete' student.pk %}"><img class="action-icon" src="{% static 'icons/delete.png' %}" alt="Удалить"></a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
