{% extends 'base.html' %}

{% block content %}
    <h1>Невозможно удалить чип</h1>
    <p>Чип "{{ pass_tag }}" используется:</p>
    <ul>
        {% if pass_tag_request_list %}
        <li>в заявках на чипы:
            <ul>
                {% for pass_tag_request in pass_tag_request_list %}
                <li>{{ pass_tag_request }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
    </ul> 
    <form method="post">
        {% csrf_token %}
    </form>
    <a href="{% url 'pass_tag_request_list' %}">Возврат</a>
{% endblock %}
