{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>Чипы</h1>
    <div class="catalog-container" style="max-width: 48em">
        <a href="{% url 'pass_tag_new' %}" id="link_action_new"></a>
        <a href="{% url 'pass_tag_upload_csv' %}" id="link_action_upload_csv"></a>
        <table class="table table-striped" id="dataTable" style="width: 100%">
            <thead>
                <tr>
                    <th width="16em">Идентификатор</th>
                    <th width="20em">Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for pass_tag in pass_tag_list %}
                <tr>
                    <td><a href="{% url 'pass_tag_edit' pass_tag.pk %}">{{ pass_tag.tag_id }}</a></td>
                    <td>
                        <a href="{% url 'pass_tag_delete' pass_tag.pk %}"><button class="btn btn-outline-danger btn-sm">Удалить</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
