{% extends 'base.html' %}

{% block content %}
    <h1>{% if form.instance.pk %}Редактирование{% else %}Создание{% endif %} заявки на чипы</h1>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="mt-1 mb-1" style="width: 10em;">
                <div class="form-label">{{ form.requester.label_tag }}</div>
            </div>
            <div style="width: 20em;">
                {{ form.requester }}
                {{ form.requester.errors }}
            </div>
        </div>
        <div class="row">
            <div class="mt-1 mb-1" style="width: 10em;">
                <div class="form-label">{{ form.executor.label_tag }}</div>
            </div>
            <div style="width: 20em;">
                {{ form.executor }}
                {{ form.executor.errors }}
            </div>
        </div>
        <div class="row">
            <div class="mt-1 mb-1" style="width: 10em;">
                <div class="form-label">{{ form.request_date.label_tag }}</div>
            </div>
            <div class="mt-1 mb-1" style="width: 10em;">
                {{ form.request_date }}
                {{ form.request_date.errors }}
            </div>
        </div>
        <div class="row">
            <div class="mt-1 mb-1" style="width: 10em;">
                <div class="form-label">{{ form.comment.label_tag }}</div>
            </div>
            <div class="mt-1 mb-1" style="width: 30em;">
                {{ form.comment }}
                {{ form.comment.errors }}
            </div>
        </div>
        <div class="row">
            <div class="mt-3 mb-3">
                <a href="{{ back_url }}"><button class="btn btn-secondary" type="button">Отменить</button></a>
                <button type="submit" name="action" value="save" class="btn btn-primary">Сохранить</button>
                <button type="submit" name="action" value="save-and-continue" class="btn btn-primary">Обновить таблицу</button>
            </div>
        </div>

        {% if form.instance.pk %}
            <div>
                {{ formset.management_form }}
                <table id="formset-area">
                    <thead>
                        <th style="display: none;"></th>
                        <th>Держатель</th>
                        <th>Причина</th>
                        <th>Дата обработки</th>
                        <th>Чип</th>
                        <th>Статус</th>
                    </thead>
                    <tbody>
                        {% for form in formset %}
                            <tr class="formset-form">
                                <td style="display: none;">
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                    {{ form.DELETE }}
                                </td>
                                <td>{{ form.holder }}{{ form.holder.errors }}</td>
                                <td>{{ form.reason }}{{ form.reason.errors }}</td>
                                <td>{{ form.processing_date }}{{ form.processing_date.errors }}</td>
                                <td>{{ form.pass_tag }}{{ form.pass_tag.errors }}</td>
                                <td>{{ form.status }}{{ form.status.errors }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>Недоступно для новых объектов.</p>
        {% endif %}
    </form>
{% endblock %}
