{% extends 'base.html' %}

{% block content %}
    <h1>{% if form.instance.pk %}Редактирование{% else %}Создание{% endif %} зачисления обучающегося в класс</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <div class="row">
                <div class="mt-1 mb-1" style="width: 10em;">
                    <div class="form-label">{{ form.student.label_tag }}</div>
                </div>
                <div class="mt-1 mb-1" style="width: 24em;">
                    {{ form.student }}
                    {{ form.student.errors }}
                </div>
            </div>
             <div class="row">
                 <div class="mt-1 mb-1" style="width: 10em;">
                     <div class="form-label">{{ form.class_group.label_tag }}</div>
                 </div>
                <div style="width: 6em;">
                    {{ form.class_group }}
                    {{ form.class_group.errors }}
                </div>
            </div>
            <div class="row">
                <div class="mt-1 mb-1" style="width: 10em;">
                    <div class="form-label">{{ form.enrollment_date.label_tag }}</div>
                </div>
                <div style="width: 10em;">
                    {{ form.enrollment_date }}
                    {{ form.enrollment_date.errors }}
                </div>
            </div>
            <div class="row">
                <div class="mt-3">
                    <a href="{{ back_url }}"><button class="btn btn-secondary" type="button">Отменить</button></a>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
