{% extends 'base.html' %}

{% block content %}
    <h1>{% if form.instance.pk %}Редактирование{% else %}Создание{% endif %} зачисления обучающихся в классы {% if form.instance.pk %}№{{ form.instance.pk }}{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <div class="row">
                <div class="mt-1 mb-1" style="width: 10em;">
                    <div class="form-label">{{ form.enrollment_date.label_tag }}</div>
                </div>
                <div style="width: 10em;">
                    {{ form.enrollment_date }}
                    {{ form.enrollment_date.errors }}
                </div>
            </div>
            <div class="row">
                <div class="mt-3">
                    <a href="{{ back_url }}"><button class="btn btn-secondary" type="button">Отменить</button></a>
                    <button type="submit" name="action" value="save" class="btn btn-primary">Сохранить</button>
                    <button type="submit" name="action" value="save-and-continue" class="btn btn-primary">Сохранить и продолжить</button>
                </div>
            </div>
        </div>
        {% if form.instance.pk %}
            <div>
                <h2>Зачисления</h2>
                {{ formset.management_form }}
                <table id="formset-area">
                    <thead>
                        <th style="display: none;"></th>
                        <th>Обучающийся</th>
                        <th>Класс</th>
                    </thead>
                    <tbody>
                        {% for form in formset %}
                            <tr class="formset-form">
                                <td style="display: none;">
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                    {{ form.DELETE }}
                                </td>
                                <td>{{ form.student }}{{ form.student.errors }}</td>
                                <td>{{ form.class_group }}{{ form.class_group.errors }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>Недоступно для новых объектов.</p>
        {% endif %}
    </form>

{% endblock %}
