{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>Зачисления обучающихся в классы</h1>
    <div class="catalog-container" style="max-width: 45em">
        <a href="{% url 'class_group_enrollment_new' %}" id="link_action_new"></a>
        <table class="table table-striped" id="dataTable" style="width: 100%">
            <thead>
                <tr>
                    <th width="15em">Зачисление</th>
                    <th width="30em">Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for class_group_enrollment in class_group_enrollment_list %}
                <tr>
                    <td data-order='{{ class_group_enrollment.enrollment_date | date:"Y-m-d"}}'><a href="{% url 'class_group_enrollment_edit' class_group_enrollment.pk %}">{{ class_group_enrollment }}</a></td>
                    <td>
                        <a href="{% url 'class_group_enrollment_delete' class_group_enrollment.pk %}"><button class="btn btn-outline-danger btn-sm">Удалить</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
