{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div id="session-data" data-username="{{ username }}"></div>
    <h1>Зачисления обучающихся в классы</h1>
    <div id="resizable-container" data-container-id="class_group_enrollment-1">
        <a href="{% url 'class_group_enrollment_new' %}"><img class="action-icon" src="{% static 'icons/add.png' %}" alt="Создать"></a>
        <table class="catalog-items display" id="myTable" data-table-id="class_group_enrollment-1">
            <thead>
                <tr>
                    <th class="resizable-th">Обучающийся</th>
                    <th class="resizable-th">Класс</th>
                    <th class="resizable-th">Дата зачисления</th>
                    <th class="resizable-th">Удал.</th>
                </tr>
            </thead>
            <tbody>
                {% for class_group_enrollment in class_group_enrollment_list %}
                <tr class="{% cycle 'odd' 'even' %}" onclick="window.location.href='{% url 'class_group_enrollment_edit' class_group_enrollment.pk %}'">
                    <td class="cell-text">{{ class_group_enrollment.student }}</td>
                    <td class="cell-label">{{ class_group_enrollment.class_group }}</td>
                    <td class="cell-label">{{ class_group_enrollment.enrollment_date | date:"d.m.Y" }}</td>
                    <td class="cell-button"><a href="{% url 'class_group_enrollment_delete' class_group_enrollment.pk %}"><img class="action-icon" src="{% static 'icons/delete.png' %}" alt="Удалить"></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
