{% extends 'base.html' %}

{% block content %}
    <div class="login-container">
        <form class="form-floating" method="post">
            {% csrf_token %}
            <h2>Вход</h2>
            <div>
                <label for="id_username">Имя пользователя</label>
                {{ form.username }}
            </div>
            <div>
                <label for="id_password">Пароль</label>
                {{ form.password }}
            </div>
            <button type="submit">Вход</button>
        </form>
    </div>
{% endblock %}
