{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div id="session-data" data-username="{{ username }}"></div>
    <h1>Оформление пропускных карт</h1>
    <div id="resizable-container" data-container-id="pass_card_issue-1">
        <a href="{% url 'pass_card_issue_new' %}"><img class="action-icon" src="{% static 'icons/add.png' %}" alt="Создать"></a>
        <table class="catalog-items display" id="myTable" data-table-id="pass_card_issue-1">
            <thead>
                <tr>
                    <th class="resizable-th">Дата</th>
                    <th class="resizable-th">Карта</th>
                    <th class="resizable-th">Физическое лицо</th>
                    <th class="resizable-th">Описание</th>
                    <th class="resizable-th">Действие</th>
                    <th class="resizable-th">Удал.</th>
                </tr>
            </thead>
            <tbody>
                {% for pass_card_issue in pass_card_issue_list %}
                <tr class="{% cycle 'odd' 'even' %}" onclick="window.location.href='{% url 'pass_card_issue_edit' pass_card_issue.pk %}'">
                    <td class="cell-date">{{ pass_card_issue.issue_date | date:"d.m.Y" }}</td>
                    <td class="cell-label">{{ pass_card_issue.card }}</td>
                    <td class="cell-text">{{ pass_card_issue.individual }}</td>
                    <td class="cell-text">{{ pass_card_issue.description }}</td>
                    <td class="cell-text">{{ pass_card_issue.action }}</td>
                    <td class="cell-button"><a href="{% url 'pass_card_issue_delete' pass_card_issue.pk %}"><img class="action-icon" src="{% static 'icons/delete.png' %}" alt="Удалить"></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
