body {
    font-family: Arial, sans-serif;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    text-align: center;
}

.login-container form {
    width: 100%;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
.login-container button:hover {
    background-color: #4cae4c;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-style: none;
    z-index: 1;
}

main {
    text-align: left;
    margin: 3em 0;
}

footer {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3em;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    background-color: darkgreen;
    font-weight: bold;
    color: white;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
}

footer a {
    color: white;
    text-decoration: none;
}

.catalog-items {
    border-collapse: collapse;
}

.catalog-items th, .catalog-items td {
    padding: 2px 8px;
    border: 1px solid #999;
}

.catalog-items tbody tr {
    cursor: pointer;
}

.catalog-items th {
    background-color: #80ff80;
    font-weight: bold;
    text-align: center;
}

.catalog-items td {
    text-align: left;
}

.catalog-items tbody tr:hover {
    background-color: #b0ffb0;
}

.catalog-items .cell-text {
    text-align: left;
}

.catalog-items .cell-date, .catalog-items .cell-label, .catalog-items .cell-button {
    text-align: center;
}

~ .catalog-items .action-icon  {
    height: 10px;
    width: 10px;
}

.action-icon {
    height: 20px;
    width: 20px;
}

.navbar {
  overflow: hidden;
  float: right;
  background-color: darkgreen;
  width: 100%;
}

.navbar a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.navbar #user-actions {
  float: right;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  font-weight: bold;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #009900;
}

.subnav-content {
  display: none;
  position: absolute;
  background-color: darkgreen;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #009900;
  color: white;
}

.subnav:hover .subnav-content {
  display: block;
}

.subnav:hover .subnav-content a {
  float: none;
  display: block;
}
